*{
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
body{
    background-image: linear-gradient( cornflowerblue,royalblue,#0818A8);
background-attachment: fixed;
}
.container {
color: black;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}
#word{
color: aliceblue;
margin: auto;
margin-top: 70px;
font-size: 50px;
text-align: center;
align-content: center;
justify-content: center;

}
.card{
width:30%;
height: 30%;
display: none;
align-items: center;
justify-content: center; 
border-radius: 10px;
background-color: darkblue;
box-shadow: 20px 20px 20px 20px #00308F;

border-radius: 10px;
}
h1 {
    color: #4b00ff;
    font-weight: 500;
}
  
.levelone{
    width:400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: darkblue;
    border-radius: 50%;
}  
.levelone h1{
color: yellow;
position: absolute;
top: 44%;
left: 44%;
font-size: 50px;
text-align: center;
justify-content: center;
align-items: center;
}

.question{
    text-align: center;
    width:30%;
    height: 40%;
    display: none;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    background-color: darkblue;
    border-radius: 10px;

}
.question p{
text-align: center;
font-size: 30px;
margin-bottom:70px;
padding-top: 30px;
color: white;
}
.question button{
    border-radius: 10px;
    align-items: center;
    width: 50%;
    height: 10%;
    margin-bottom: 20px;
    justify-content: center;
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.containertwo {
    color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.leveltwo{
    width:400px;
    height: 400px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: darkblue;
}  
.leveltwo h1{
color: yellow;
position: absolute;
top: 44%;
left: 44%;
font-size: 50px;
text-align: center;
justify-content: center;
align-items: center;
}
#btn3{
    display: flex;
    margin-left: 350px;
    margin-top: 20px;
    width: 20%;
    height: 10%;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
}






         


