* {
  box-sizing: border-box;
  background-color: darkseagreen;
}
main {
  background-color: darkseagreen;
}
.row {
  align-items: center;
}
#countDown-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
#countDown {
  border-radius: 10px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 50px;
  margin-right: 50px;
}
#countDownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#text p {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
}

#colored-start {
  /* background-color: blueviolet; */
  width: 167px;
  height: 200px;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
#timer {
  opacity: 0;
  font-weight: bold;
  font-size: 50px;
}
#timer #seconds,
#tens {
  opacity: 0;
  font-weight: bold;
  font-size: 50px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: darkseagreen;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: black;
  color: #fff;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
}
